<table class="display table" id="installations_table">
  <thead>
    <tr class="filters">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Instance</th>
      <th>Project</th>
      <th>Server</th>
      <th>Role</th>
      <th>Closing</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @installations.each do |installation| %>
      <tr>
        <td>
          <%= link_to installation.project_instance.name,
            project_instance_path(installation.project_instance) %>
        </td>
        <td>
          <%= link_to installation.project.title,
            project_path(installation.project) %>
        </td>
        <td><%= link_to installation.server.name, server_path(installation.server) %></td>
        <td><%= installation.role %></td>
        <td class='closing'><%= installation.closing %></td>
        <td><%= link_to 'Notes', '#', {title: "#{installation.description.presence || "-"}"} %></td>
        <td><%= link_to(installation) { fa_icon "eye" } %></td>
        <td><%= link_to(edit_installation_path(installation)) { fa_icon "pencil" } %></td>
        <td><%= link_to(installation, method: :delete, data: { confirm: "Are you sure?" }){ fa_icon "trash" } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
