<div class="page-header">
  <h1><%= @installation.name %></h1>
</div>

<div class="btn-group">
  <%= button_to 'Edit', edit_installation_path(@installation), method: :get, class: "btn btn-primary" %>
  <%= button_to 'Back', installations_path, method: :get, class: "btn btn-primary" %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>About this Installation</h2>
    </div>

    <p>
      <strong>Project Instance:</strong>
      <%= link_to @installation.project_instance.name,
        project_instance_path(@installation.project_instance) %>
    </p>

    <p>
      <strong>Server:</strong>
      <%= link_to @installation.server.name, server_path(@installation.server) %>
    </p>

    <% if !@installation.deleted? %>
      <p>
        <strong>Scheduled for close down:</strong>
        <span class='closing'><%= @installation.project_instance.closing %></span>
      </p>
    <% end %>

    <p>
      <strong>Role:</strong>
      <%= @installation.role %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @installation.description %>
    </p>
  </div>
</div>

<div class="row">
  <div class="page-header">
    <h2>Comments<h2>
  </div>
  <%= render "comments/comments" %>
  <%= render "comments/form", commentable: @installation %>
</div>


