<div class="page-header">
  <h1>Listing Dependencies</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Dependency', new_dependency_path, method: :get, class: "btn btn-primary" %>
</div>

<table class="display table" id="dependencies_table">
  <thead>
    <tr>
      <th>Dependant Product</th>
      <th>Depends on</th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependencies.each do |dependency| %>
      <tr>
        <td>
          <%= link_to dependency.sub_product.title, product_path(dependency.sub_product) %>
        </td>
        <td>
          <%= link_to dependency.master_product.title, server_path(dependency.master_product) %>
        </td>
        <td><%= link_to(dependency) { fa_icon "eye" } %></td>
        <td><%= link_to(edit_dependency_path(dependency)) { fa_icon "pencil" } %></td>
        <td><%= link_to(dependency, method: :delete, data: { confirm: "Are you sure?" }){ fa_icon "trash" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>