<div class="page-header">
  <h1>Listing Servers</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Server', new_server_path, method: :get, class: "btn btn-primary" %>
</div>

<table class="display" id="servers_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>OS</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.domain %></td>
        <td><%= server.os %></td>
        <td><%= link_to(server) { fa_icon "eye" } %></td>
        <td><%= link_to(edit_server_path(server) { fa_icon "pencil" } %></td>
        <td><%= link_to(server, method: :delete, data: { confirm: "Are you sure?" }){ fa_icon "trash" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


