<div class="page-header">
  <h1>Listing Servers</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Server', new_server_path, method: :get, class: "btn primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Domain</th>
      <th>OS</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.domain %></td>
        <td><%= server.os %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


