<div class="page-header">
  <h1><%= @server.name %></h1>
</div>

<div class="btn-group">
  <%= button_to 'Back', servers_path, method: :get, :class => 'btn btn-primary' %>
  <%= button_to 'Edit', edit_server_path(@server), method: :get, :class => 'btn btn-primary' %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="page-header">
      <h2>About this Server</h2>
    </div>
    <p>
      <strong>Domain:</strong>
      <%= @server.domain %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @server.username %>
    </p>

    <p>
      <strong>Admin url:</strong>
      <%= @server.admin_url %>
    </p>

    <p>
      <strong>OS:</strong>
      <%= @server.os %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @server.description %>
    </p>

    <p>
      <strong>SSH key name:</strong>
      <%= @server.ssh_key_name %>
    </p>
  </div>

  <div class="col-lg-6">
    <div class="page-header">
      <h2>Installations on this Server</h2>
    </div>
    <% @installations.each do |installation| %>
      <%= link_to installation.role, installation_path(installation) %> (<%= installation.stage %>) for <%= link_to installation.project.title, project_path(installation.project) %><br>
    <% end %>
  </div>
</div>

<div class="row">
	<div class="page-header">
		<h2>Comments<h2>
	</div>
	<%= render "comments/comments" %>
	<%= render "comments/form", commentable: @server %>
</div>
