<table class="display" id="project_instances_table">
  <thead>
    <tr class="filters">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Stage</th>
      <th>Branch</th>
      <th>Installations</th>
      <th>Closing</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects_instances.each do |instance| %>
      <tr>
        <td><%= instance.name %></td>
        <td><%= link_to instance.project.title, project_path(instance.project) %></td>
        <td><%= instance.stage %></td>
        <td><%= instance.branch %></td>
        <td><%= instance.installations.count %></td>
        <td class='closing'><%= instance.closing %></td>
        <td>
          <%= link_to 'Notes', '#', {title: display_info(instance), :'data-html' => 'true'} %>
        </td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_project_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
