<div class="page-header project-header">
  <h1><%= @project_instance.project.title %></h1>
  <div class="btn-group">
    <%= button_to 'Back', project_instances_path, method: :get, :class => 'btn' %>
    <%= button_to 'Edit', edit_project_instance_path(@project_instance), method: :get, :class => 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="page-header">
      <h2>About the Instance</h2>
    </div>

    <p>
      <strong>Name:</strong>
      <%= @project_instance.name %>
    </p>

    <p>
      <strong>Project:</strong>
      <%= link_to @project_instance.project.title, project_path(@project_instance.project) %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= link_to @project_instance.url, @project_instance.url, target: '_blank' %>
    </p>

    <p>
      <strong>Scheduled for close down:</strong>
      <span class='closing'><%= @project_instance.closing %></span>
    </p>

    <p>
      <strong>Stage:</strong>
      <%= @project_instance.stage %>
    </p>

    <p>
      <strong>Branch:</strong>
      <%= @project_instance.branch %>
    </p>

    <%= display_text @project_instance, :description %>

    <%= display_text @project_instance, :backup_information %>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="page-header">
      <h2>This Instance Installations</h2>
    </div>
    <p>
      <% if !@project_instance.installations.with_deleted.empty? %>
        <%= render :partial => 'shared/installations', locals: {installations: @project_instance.installations,
          deleted: false} %>
        <% unless @project_instance.installations.only_deleted.empty? %>
          <%= render :partial => 'shared/installations', locals: {installations: @project_instance.installations.only_deleted,
            deleted: true} %>
        <% end %>
      <% else %>
        This project's instance has no installations
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="page-header">
    <h2>Comments<h2>
  </div>
  <%= render "comments/comments" %>
  <%= render "comments/form", commentable: @project_instance %>
</div>
