<table class="display" id="projects_table">
  <thead>
    <tr class="filters">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>State</th>
      <th>Instances</th>
      <th>Rails</th>
      <th>Ruby</th>
      <th>PostgreSQL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="user_row">
        <td><%= link_to project.title, project %>
        <%= link_to (image_tag("https://secure.travis-ci.org/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Travis")), "https://travis-ci.org/#{project.github_identifier}", class: "badge_link"%>
        <%= link_to (image_tag("https://gemnasium.com/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Gemnasium")), "https://gemnasium.com/#{project.github_identifier}", class: "badge_link"%>
        <%= link_to (image_tag("https://codeclimate.com/github/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Code Climate")), "https://codeclimate.com/github/#{project.github_identifier}", class: "badge_link"%>
        </td>
        </td>
        <td><%= link_to project.url, project.url %></td>
        <td><%= project.state %></td>
        <td><%= project.project_instances.count %></td>
        <td><%= project.rails_version %></td>
        <td><%= project.ruby_version %></td>
        <td><%= project.postgresql_version %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>