<table class="display table" id="projects_table">
  <thead>
    <tr class="filters">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>State</th>
      <th>Instances</th>
      <th>Rails</th>
      <th>Ruby</th>
      <th>PostgreSQL</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="user_row">
        <td><%= link_to project.title, project, data: { toggle: "tooltip", placement: "right", title: project.url } %><br>
        <%= link_to (image_tag("https://secure.travis-ci.org/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Travis")), "https://travis-ci.org/#{project.github_identifier}", class: "badge_link"%><br>
        <%= link_to (image_tag("https://gemnasium.com/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Gemnasium")), "https://gemnasium.com/#{project.github_identifier}", class: "badge_link"%><br>
        <%= link_to (image_tag("https://codeclimate.com/github/#{project.github_identifier}.png", class: "badge_img",
            alt: "No Code Climate")), "https://codeclimate.com/github/#{project.github_identifier}", class: "badge_link"%>
        </td>
        <td><%= project.state %></td>
        <td><%= project.project_instances.size %></td>
        <td><%= project.rails_version %></td>
        <td><%= project.ruby_version %></td>
        <td><%= project.postgresql_version %></td>
        <td><%= link_to(project_path(project)) { fa_icon "eye" } %></td>
        <td><%= link_to(edit_project_path(project)) { fa_icon "pencil" } %></td>
        <td><%= link_to(project_path(project), method: :delete, data: { confirm: "Are you sure?" }){ fa_icon "trash" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>