<%= form_for(@project, :html => { class: "form-horizontal" }) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert-message block-message error">
      <p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</p>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="page-header">
      <h2>About the Project</h2>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :title, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :url, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :url, class: "form-control" %>
           <p class="help-block">The URL to the live project</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :internal_description, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :internal_description, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :backup_information, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :backup_information, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :screenshot, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.file_field :screenshot %>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="form-group">
        <%= f.label :external_clients, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :external_clients_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each external client</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :internal_clients, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :internal_clients_array, class: "form-control tag-field",
            data: {tags: @employees.map{|t| {id: t, text: t}} } %>
          <p class="help-block">Add a tag for each internal client</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :project_leads, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :project_leads_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each project lead</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_lead, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :current_lead, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :developers, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
        <%= f.text_field :developers_array, class: "form-control tag-field",
      data: {tags: @developers.map{|t| {id: t, text: t}} }  %>
          <p class="help-block">Add a tag for each developer</p>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :expected_release_date, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.date_field :expected_release_date, class: "form-control datepicker" %>
          <p class="help-block">Expected release date</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 control-label">
        <%= f.label :published %>
      </div>
        <div class="col-sm-offset-2 col-sm-10" style="margin: 10px 0px 0px 0px;">
            <%= f.check_box :published, class: "inline" %>
        </div>
      </div>
    
    </div>
  </div>

  <div class="row">
    <div class="page-header">
      <h2>About the Application</h2>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :state, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.select :state, [["Under Development", "Under Development"],["Delivered", "Delivered"],
          ["Project Development", "Project Development"],["Discontinued", "Discontinued"]], {}, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :hacks, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :hacks, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :github_identifier, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :github_identifier, class: "form-control" %>
          <p class="help-block">E.g.: unepwcmc/SAPI (make sure to use the exact name of the repo, case sensitive)</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :background_jobs, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :background_jobs, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :cron_jobs, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :cron_jobs, class: "form-control" %>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="form-group">
        <%= f.label :rails_version, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :rails_version, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :ruby_version, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :ruby_version, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :postgresql_version, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :postgresql_version, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :other_technologies, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :other_technologies_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each technology</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :system_dependencies, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :dependencies, class: "form-control" %>
          <p class="help-block">e.g. LaTeX, redis</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="page-header">
      <h2>Resources</h2>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :pivotal_tracker_ids, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :pivotal_tracker_ids_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each Pivotal Tracker ID (format: number)</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :trello_ids, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_field :trello_ids_array, class: "form-control tag-field" %>
          <p class="help-block">
            Add a tag for each Trello ID (format: k19vkqb3/ors-new-hope)
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :pdrive_folders, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :pdrive_folders_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each folder</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :dropbox_folders, class: "col-sm-2 control-label" %>
        <div class="input col-sm-10">
          <%= f.text_area :dropbox_folders_array, class: "form-control tag-field" %>
          <p class="help-block">Add a tag for each folder</p>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
