<div class="page-header">
  <h1>Listing Projects</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Project', new_project_path, method: :get, class: "btn btn-primary" %>
</div>

<table class="table datatable" id="list_view">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="user_row">
        <td><%= link_to project.title, project %>
        <%= link_to (image_tag("https://gemnasium.com/#{project.repository_url}.png", class: "badge_img",
            onerror: "this.src='/assets/notfound.png'")), "https://gemnasium.com/#{project.repository_url}", class: "badge_link"%>
        <%= link_to (image_tag("https://secure.travis-ci.org/#{project.repository_url}.png", class: "badge_img",
            onerror: "this.src='/assets/notfound.png'")), "https://travis-ci.org/#{project.repository_url}", class: "badge_link"%>
        <%= link_to (image_tag("https://codeclimate.com/github/#{project.repository_url}.png", class: "badge_img",
            onerror: "this.src='/assets/notfound.png'")), "https://codeclimate.com/github/#{project.repository_url}", class: "badge_link"%>
        </td>
        </td>
        <td><%= link_to project.url, project.url %></td>
        <td><%= project.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>