<%= review_jumbotron %>

<div class="page-header project-header">
	<%= link_to project_preview(@project)%>
	<h1><%= @project.title %></h1>
	<div class="btn-group">
	  <%= button_to 'Back', list_projects_path, method: :get, :class => 'btn' %>
	  <%= button_to 'Edit', edit_project_path(@project), method: :get, :class => 'btn btn-primary' %>
	</div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="page-header">
      <h2>About the Project</h2>
    </div>
    
    <p>
      <strong>Project Code:</strong>
      <%= @project.project_code %>
    </p>

    <p>
      <strong>Production:</strong>
      <%= link_to @project.url, @project.url, target: '_blank' %>
    </p>

    <p>
      <strong>Staging:</strong>
      <% if @project.url_staging %>
        <%= link_to @project.url_staging, @project.url_staging, target: '_blank' %>
      <% end %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @project.state %>
    </p>

    <%= display_text @project, :description %>

    <%= display_text @project, :internal_description %>

    <p>
      <strong>External Clients:</strong>

      <% if !@project.external_clients.blank? %>
        <ul>
          <% @project.external_clients.each do |external_client| %>
            <li><%= external_client %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no external clients
      <% end %>
    </p>

    <p>
      <strong>Internal Clients:</strong>
      <% if !@project.internal_clients.blank? %>
        <ul>
          <% @project.internal_clients.each do |internal_client| %>
            <li><%= internal_client %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no internal clients
      <% end %>
    </p>

    <p>
      <strong>Project Leads:</strong>
      <% if !@project.project_leads.blank? %>
        <ul>
          <% @project.project_leads.each do |lead| %>
            <li><%= lead %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no leads
      <% end %>
    </p>

    <p>
      <strong>Current Lead:</strong>
      <%= @project.current_lead %>
    </p>

    <p>
      <strong>Developers:</strong>
      <% if !@project.developers.blank? %>
        <ul>
          <% @project.developers.each do |developer| %>
            <li><%= developer %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no developers
      <% end %>
    </p>

    <%= display_text @project, :dependencies %>

    <p>
      <strong>Depends On:</strong>
      <% if !@master_projects.empty? %>
        <ul>
          <% @master_projects.each do |project| %>
            <li><%= link_to project.title, project_path(project) %></li>
          <% end %>
        </ul>
      <% else %>
        This project does not depend on other projects
      <% end %>
    </p>

    <p>
      <strong>Has Dependents:</strong>
      <% if !@sub_projects.empty? %>
        <ul>
          <% @sub_projects.each do |project| %>
            <li><%= link_to project.title, project_path(project) %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no dependants
      <% end %>
    </p>

    <p>
      <strong>Expected Release Date:</strong>
      <%= @project.expected_release_date %>
    </p>

    <p>
      <strong>Published?</strong>
      <%= @project.published ? "Yes" : "No" %>
    </p>
  </div>

  <div class="col-lg-6">
    <div class="page-header">
      <h2>This Projects Instances</h2>
    </div>
    <p>
      <% if !@instances.empty? %>
        <% @instances.each do |instance| %>
            <%= link_to instance.name, project_instance_path(instance) %>
            (<%= instance.stage %>)<br>
        <% end %>
      <% else %>
        This project has no instances
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="page-header">
    <h2>About the Application</h2>
  </div>

  <div class="col-lg-6">
    <p>
      <strong>User access:</strong>
      <%= @project.user_access %>
    </p>

    <p>
      <strong>Repository URL:</strong>
      <%= link_to @project.github_identifier,
        "https://github.com/#{@project.github_identifier}"
      %>
    </p>

    <p>
      <strong>Background Jobs:</strong>
      <%= @project.background_jobs %>
    </p>

    <p>
      <strong>Cron Jobs:</strong>
      <%= @project.cron_jobs %>
    </p>

    <%= display_text @project, :hacks %>
  </div>

  <div class="col-lg-6">

    <p>
      <strong>Rails Version:</strong>
      <%= @project.rails_version %>
    </p>

    <p>
      <strong>Ruby Version:</strong>
      <%= @project.ruby_version %>
    </p>

    <p>
      <strong>PostgreSQL Version:</strong>
      <%= @project.postgresql_version %>
    </p>

    <p>
      <strong>Other technologies:</strong>
      <% if !@project.other_technologies.blank? %>
        <ul>
          <% @project.other_technologies.each do |technology| %>
            <li><%= technology %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no other technologies
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="page-header">
    <h2>Resources</h2>
  </div>

  <div class="col-lg-6">
    <p><strong>Sharepoint Link</strong></p>
    <p>
     <% if !@project.sharepoint_link.blank? %>
       <%= link_to @project.sharepoint_link, @project.sharepoint_link, target: '_blank' %>
      <% else %>
        This project has no Sharepoint link
      <% end %>
    </p>

    <p><strong>Codebase Link</strong></p>
    <p>
      <% if !@project.codebase_url.blank? %>
       <%= link_to @project.codebase_url, @project.codebase_url, target: '_blank' %>
      <% else %>
        This project has no Codebase link
      <% end %>
    </p>
  </div>

  <div class="col-lg-6">
    <p><strong>Adobe XD design Link</strong></p>
    <p>
      <% if !@project.design_link.blank? %>
       <%= link_to @project.design_link, @project.design_link, target: '_blank' %>
      <% else %>
        This project has no design link
      <% end %>
    </p>

    <p><strong>GA tracking code</strong></p>
    <p>
      <% if !@project.ga_tracking_code.blank? %>
        <%= link_to @project.ga_tracking_code, @project.ga_tracking_code, target: '_blank' %>
      <% else %>
        This project has no GA tracking code
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="page-header">
    <h2>Deprecated Resources</h2>
  </div>
  <!-- :pdrive_folders, :dropbox_folders, :pivotal_tracker_ids, :trello_ids -->
  <div class="col-lg-6">
    <p><strong>P Drive Folders</strong></p>
    <p>
     <% if !@project.pdrive_folders.blank? %>
        <ul>
          <% @project.pdrive_folders.each do |folder| %>
            <li><%= folder %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no P Drive Folders
      <% end %>
    </p>

    <p><strong>Dropbox Folders</strong></p>
    <p>
      <% if !@project.dropbox_folders.blank? %>
        <ul>
          <% @project.dropbox_folders.each do |folder| %>
            <li><%= folder %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no Dropbox Folders
      <% end %>
    </p>
  </div>

  <div class="col-lg-6">
    <p><strong>Pivotal tracker IDs</strong></p>
    <p>
      <% if !@project.pivotal_tracker_ids.blank? %>
        <ul>
          <% @project.pivotal_tracker_ids.each do |id| %>
            <li><%= id %></li>
          <% end %>
        </ul>
      <% else %>
        This project has Pivotal tracker IDs
      <% end %>
    </p>

    <p><strong>Trello IDs</strong></p>
    <p>
      <% if !@project.trello_ids.blank? %>
        <ul>
          <% @project.trello_ids.each do |id| %>
            <li><%= id %></li>
          <% end %>
        </ul>
      <% else %>
        This project has no Trello IDs
      <% end %>
    </p>
  </div>
</div>

<div class="row">
	<div class="page-header">
		<h2>Comments<h2>
	</div>
	<%= render "comments/comments" %>
	<%= render "comments/form", commentable: @project %>
</div>
