<h1>Sync Projects</h1>
<p>Select projects from Github to sync with Labs</p>

<%= render 'error_messages' %>

<nav>
  <ul class="pagination">
    <li><%= link_to 'Previous 25', sync_projects_path(page: @link_headers['prev_page']) if @link_headers.try(:[], 'prev_page') %></li>
    <li><%= link_to 'Next 25', sync_projects_path(page: @link_headers['next_page']) if @link_headers.try(:[], 'next_page') %></li>
  </ul>
</nav>

<%= form_tag sync_projects_path do %>
  <%= hidden_field_tag 'page', @page %>
  <table class="table" id="sync_table">
    <thead>
      <tr>
        <th>Selected</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @repos.each do |repo| %>
        <tr>
          <td><%= check_box_tag "repos[]", repo.name %></td>
          <td><%= repo.name %></td>
          <td><%= repo.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Sync marked Projects', class: 'btn btn-large btn-success' %>
<% end %>
