<!DOCTYPE html>
<html>
  <head>
    <%= Gon::Base.render_data({}) %>
    <meta charset="utf-8">
    <title>UNEP-WCMC Informatics Labs</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27641446-1']);
      _gaq.push(['_setDomainName', 'unep-wcmc.org']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a href="http://unep-wcmc.org" target="_blank" class="header__logo"></a>
        </div>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Search Products", root_path %></li>
                <li><%= link_to "List Products", list_products_path %></li>
                <li><%= link_to "My Products", root_path(user: current_user) %></li>
                <li><%= link_to "Add a Product", new_product_path %></li>
                <li><%= link_to "Sync Products from Github", sync_products_path %></li>
                <li><%= link_to "Reviews", reviews_path %></li>
                <li><%= link_to "Download Combined Products List", list_products_path(scope: :combined, format: :csv) %></li>
                <li><%= link_to "ERDs", domains_path %></li>
                <li><%= link_to "KPIs", kpi_page_path %></li> 
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Instances <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Instances", product_instances_path %></li>
                <li>
                  <%= link_to "List Deleted Instances", deleted_list_product_instances_path %>
                </li>
                <li><%= link_to "Add an Instance", new_product_instance_path %></li>
                <li><%= link_to "Sync Nagios Sites", nagios_list_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Installations <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Installations", installations_path %></li>
                <li>
                  <%= link_to "List Deleted Installations", deleted_list_installations_path %>
                </li>
                <li><%= link_to "Add an Installation", new_installation_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servers <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Servers", servers_path %></li>
                <li><%= link_to "List Deleted Servers", deleted_list_servers_path %></li>
                <li><%= link_to "Add a Server", new_server_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dependencies <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Dependencies", dependencies_path %></li>
                <li><%= link_to "Add a Dependency", new_dependency_path %></li>
              </ul>
            </li>

            <li><%= link_to "Users", users_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= image_tag gravatar(current_user), class: 'gravatar-round' %></li>
              <li><%= link_to "Signed in as: #{current_user.github}", "http://www.github.com/#{current_user.github}" %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in with Github", user_github_omniauth_authorize_path %></li>
            <% end %>
        </ul>
      </div>
  </div>
  <%= flash_messages %>
  <div class="container">
    <%= yield %>
    <footer>
      <p>&copy; <%= link_to "UNEP-WCMC", "http://www.unep-wcmc.org" %> <%= Time.now.year %></p>
    </footer>
  </div>
</body>
</html>
