<!DOCTYPE html>
<html>
  <head>
    <%= Gon::Base.render_data({}) %>
    <meta charset="utf-8">
    <title>UNEP-WCMC Informatics Labs</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27641446-1']);
      _gaq.push(['_setDomainName', 'unep-wcmc.org']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <%= link_to image_tag('unep_wcmc_logo.png', height: 60, class: 'navbar-brand'), root_path %>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Search Projects", root_path %></li>
                <li><%= link_to "List Projects", list_projects_path %></li>
                <li><%= link_to "Add a Project", new_project_path %></li>
                <li><%= link_to "Sync Projects from Github", sync_projects_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Instances <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Instances", project_instances_path %></li>
                <li>
                  <%= link_to "List Deleted Instances", deleted_list_project_instances_path %>
                </li>
                <li><%= link_to "Add an Instance", new_project_instance_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Installations <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Installations", installations_path %></li>
                <li>
                  <%= link_to "List Deleted Installations", deleted_list_installations_path %>
                </li>
                <li><%= link_to "Add an Installation", new_installation_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Servers <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Servers", servers_path %></li>
                <li><%= link_to "Add a Server", new_server_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dependencies <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "List Dependencies", dependencies_path %></li>
                <li><%= link_to "Add a Dependency", new_dependency_path %></li>
              </ul>
            </li>

            <li><%= link_to "Users", users_path %></li>

          <% else %>
            <li><%= link_to 'More info about UNEP-WCMC', "http://informatics.unep-wcmc.org/" %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= image_tag gravatar(current_user), class: 'gravatar-round' %></li>
              <li><%= link_to "Signed in as: #{current_user.github}", "http://www.github.com/#{current_user.github}" %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in with Github", user_omniauth_authorize_path(:github) %></li>
            <% end %>
        </ul>
      </div>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "alert alert-#{name == 'error' ? "danger" : "success" } alert-dismissable" do %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= msg %>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
    <footer>
      <p>&copy; <%= link_to "UNEP-WCMC", "http://www.unep-wcmc.org" %> <%= Time.now.year %></p>
    </footer>
  </div>
</body>
</html>
